/*

Name: Studio
Author: Bram de Haan (http://atelierbramdehaan.nl/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #23231a;
$base01: #2f2f23;
$base02: #7a7754;
$base03: #8c8960;
$base04: #9f9b6d;
$base05: #b1ad79;
$base06: #fcf5aa;
$base07: #fefce6;
$base08: #b30;
$base09: #ca5e00;
$base0a: #f5e000;
$base0b: #40bf40;
$base0c: #0288bb;
$base0d: #00478f;
$base0e: #4d53b3;
$base0f: #bf40bf;

@import "partials/design/default/init";

// @import "partials/modules/blending";

