$base00: #1b1b18;
$base01: #292923;
$base02: #5d5d56;
$base03: #6a6a62;
$base04: #a6c2ba; // Paloma
$base05: #ccba85; // Sand
$base06: #d2d6c2; // blend Sand with Paloma
$base07: #fffaeb;
$base08: #f04270; // Cayenne
$base09: #ff5e33; // Celosia Orange
$base0a: #ffdb00; // Freesia
$base0b: #3ca555; // Comfrey
$base0c: #288aaa; // blend of comfrey (green) and dazzling blue
$base0d: #146eff; // Dazzling Blue
$base0e: #707dd9; // Purple Haze
$base0f: #ad59ff; // Radiant Orchid

@import "partials/design/default/init"; 

