/*

Name: Atelier Lakeside
Author: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/lakeside/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #161b1d;
$base01: #1f292e;
$base02: #516d7b;
$base03: #5a7b8c;
$base04: #7195a8;
$base05: #7ea2b4;
$base06: #c1e4f6;
$base07: #ebf8ff;
$base08: #d22d72;
$base09: #935c25;
$base0a: #8a8a0f;
$base0b: #568c3b;
$base0c: #2d8f6f;
$base0d: #257fad;
$base0e: #5d5db1;
$base0f: #b72dd2;

@import "partials/design/default/init";

