/*

Name: Custom
Author: Firstname Lastname (http://domainname.io/)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #101718;
$base01: #1f2a2e;
$base02: #364549;
$base03: #48575b;
$base04: #607176;
$base05: #7b8a8e;
$base06: #b8d7e0;
$base07: #f0fbff;
$base08: #e72357;
$base09: #ff4f1a;
$base0a: #e6970f;
$base0b: #19b38a;
$base0c: #17a4cf;
$base0d: #2481f9;
$base0e: #8357db;
$base0f: #e830dc;

@import "partials/design/default/init";

