/*

Name: Bakelite
Author: Bram de Haan (http://atelierbramdehaan.nl)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1b1a18;
$base01: #353331;
$base02: #5d5751;
$base03: #857b71;
$base04: #ac9f90;
$base05: #d4c3b0;
$base06: #fce7d0;
$base07: #fef5ec;
$base08: #ff334e;
$base09: #ff5833;
$base0a: #ef923f;
$base0b: #0c6;
$base0c: #20b4ab;
$base0d: #3f9cef;
$base0e: #c768f3;
$base0f: #ff1a8c;

@import "partials/design/default/init";

// @import "partials/modules/blending";

