/*

Name: Railscasts
Author: Ryan Bates (http://railscasts.com)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #2b2b2b;
$base01: #272935;
$base02: #3a4055;
$base03: #5a647e;
$base04: #d4cfc9;
$base05: #e6e1dc;
$base06: #f4f1ed;
$base07: #f9f7f3;
$base08: #da4939;
$base09: #cc7833;
$base0a: #ffc66d;
$base0b: #a5c261;
$base0c: #519f50;
$base0d: #6d9cbe;
$base0e: #b6b3eb;
$base0f: #bc9458;

@import "partials/design/default/init";

