// $radiant-orchid: #ad59ff;
// $royal-blue:     #244dff;
// $aluminium:      #9c9688;
// $aurora-red:     #d9001e;
// $misted-yellow:  #e8d44d;
// $sangria:        #9a0086;
// $mauve-mist:     #ccaded;
// $cognac:         #775b68;
// $bright-cobalt:  #1983e4;
// $cypress:        #446436;
// $sea-fog:        #a1a6c7;
$radiant-orchid: #b163a3;
$royal-blue:     #3f448c;
$aluminium:      #9c9688;
$aurora-red:     #b93a3e;
$misted-yellow:  #dbb960;
$sangria:        #9d3158;
$mauve-mist:     #c49fba;
$cognac:         #886159;
$bright-cobalt:  #355e91;
$cypress:        #525b41;
$sea-fog:        #a593a1;

$violet: $radiant-orchid;
$blue-dark: $royal-blue;
$gray-light: $aluminium;
$red-orange: $aurora-red;
$yellow-light: $misted-yellow;
$red-cool: $sangria;
$pink-light: $mauve-mist;
$brown-light: $cognac;
$blue-cobalt: $bright-cobalt;
$green-dark: $cypress;
$gray-warm: $sea-fog;

* {
  // outline: 1px dotted salmon;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
html {
  background: lighten($gray-warm,25%);
  animation-name: bg-color;
  animation-duration: 90s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
body {
  font: 100%/1.5 AvenirNextCondensed-Regular, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 3em;
  width: 42em;
  color: #111;
}
header {
  padding: 0 0 2em;
}
h1,
header p {
  letter-spacing: -1px;
  word-spacing: 1px;
  line-height: 1;
  font-size: 2.2em;
  padding: 0 16px;
  animation-name: color;
  animation-duration: 90s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
h1 {
  color: $blue-cobalt;
  text-transform: capitalize;
}
header p {
  color: $red-cool;
  font-size: 1.75em;
  text-align: right;
  margin-top: -1em;
  // transform: translateY(-1.25em);
  // transform: translateY(-100%);
}
// header span {
//   display: block;
//   text-align: center;
  // transform: translateY(.25em);
// }
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: $gray-warm;
}

col:nth-of-type(1) {
  background: rgba(0,0,0,.125);
  width: 62.5%;
}
col:nth-of-type(2) {
  width: 20%;
}
col:nth-of-type(3) {
  width: 17.5%;
}
thead {
  display: table-header-group;
}
header,
thead th {
  font-family: cuprum, AvenirNextCondensed-DemiBold, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  font-weight: 700;
}
thead th {
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 1.125em;
  background: lighten($gray-warm,10%);
  text-transform: uppercase;
}
thead th:nth-of-type(1) {
  text-align: left;
}

th[scope="col"] {
  border-bottom: 3px solid $gray-warm;
}
th[scope="row"] {
  text-align: left;
}
th, td {
  padding: .5em 1em;
}
td:nth-of-type(1) {
  text-align: right;
}
td:nth-of-type(2) {
  text-align: right;
}
$violet: $radiant-orchid;
$blue-dark: $royal-blue;
$gray-light: $aluminium;
$red-orange: $aurora-red;
$yellow-light: $misted-yellow;
$red-cool: $sangria;
$pink-light: $mauve-mist;
$brown-light: $cognac;
$blue-cobalt: $bright-cobalt;
$green-dark: $cypress;
$gray-warm: $sea-fog;

tr:nth-of-type(1) {
  background: $violet;
}
tr:nth-of-type(2) {
  background: $blue-dark;
}
tr:nth-of-type(3) {
  background: $gray-light;
}
tr:nth-of-type(4) {
  background: $red-orange;
}
tr:nth-of-type(5) {
  background: $yellow-light;
}
tr:nth-of-type(6) {
  background: $red-cool;
}
tr:nth-of-type(7) {
  background: $pink-light;
  // color: $gray-light;
}
tr:nth-of-type(8) {
  background: $brown-light;
  // color: $gray-light;
}
tr:nth-of-type(9) {
  background: $blue-cobalt;
  // color: $gray-light;
}
tr:nth-of-type(10) {
  background: $green-dark;
  // color: $gray-light;
}
tr:nth-of-type(11) {
  background: $gray-warm;
  // color: $gray-light;
}

ul {
  list-style: none;
}
a {
  color: $blue-dark;
  display: inline-block;
  padding: .25em 0;
  text-decoration: none;
}
a:hover {
  color: $blue-cobalt;
}
footer,
footer ul {
  overflow: auto;
}
footer {
  margin: 0 auto;
  border-top: 3px solid shade($gray-light,15%);
  padding: 2em 1em 1em;
  background: $gray-warm;
}
footer li {
  font-size: .875em;
  text-align: center;
}
footer a {
  // float: left;
  // width: 100%;
  display: inline-block;
}
@keyframes bg-color {
  0% {
    background: #fff;
  }
  6% {
    background: #fff;
  }
  6.6% {
    background: $gray-light;
  }
  12.6% {
    background: $gray-light;
  }
  13.2% {
    background: $green-dark;
  }
  19.2% {
    background: $green-dark;
  }
  19.8% {
    background: $green-dark;
  }
  25.8% {
    background: $green-dark;
  }
  26.4% {
    background: $gray-warm;
  }
  32.4% {
    background: $gray-warm;
  }
  33% {
    background: $yellow-light;
  }
  39% {
    background: $yellow-light;
  }
  39.6% {
    background: $gray-warm;
  }
  45.6% {
    background: $gray-warm;
  }
  46.2% {
    background: $red-cool;
  }
  52.2% {
    background: $red-cool;
  }
  52.8% {
    background: $red-orange;
  }
  58.8% {
    background: $red-orange;
  }
  59.4% {
    background: $violet;
  }
  65.4% {
    background: $violet;
  }
  66% {
    background: $blue-dark;
  }
  72% {
    background: $blue-dark;
  }
  72.6% {
    background: $blue-cobalt;
  }
  78.6% {
    background: $blue-cobalt;
  }
  79.2% {
    background: $green-dark;
  }
  85.2% {
    background: $green-dark;
  }
  85.8% {
    background: $green-dark;
  }
  91.8% {
    background: $green-dark;
  }
  92.4% {
    background: $gray-light;
  }
}

@keyframes color {
  0% {
    color: $red-cool;
  }
  6% {
    color: $red-cool;
  }
  6.6% {
    color: $violet;
  }
  12.6% {
    color: $violet;
  }
  13.2% {
    color:  white;
  }
  19.2% {
    color:  white;
  }
  19.8% {
    color: $red-orange;
  }
  25.8% {
    color: $red-orange;
  }
  26.4% {
    color: $yellow-light;
  }
  32.4% {
    color: $yellow-light;
  }
  33% {
    color: $brown-light;
  }
  39% {
    color: $brown-light;
  }
  39.6% {
    color: $blue-dark;
  }
  45.6% {
    color: $blue-dark;
  }
  46.2% {
    color: $gray-light;
  }
  52.2% {
    color: $gray-light;
  }
  52.8% {
    color: $yellow-light;
  }
  58.8% {
    color: $yellow-light;
  }
  59.4% {
    color: $blue-cobalt;
  }
  65.4% {
    color: $blue-cobalt;
  }
  66% {
    color: $green-dark;
  }
  72% {
    color: $green-dark;
  }
  72.6% {
    color: $gray-warm;
  }
  78.6% {
    color: $gray-warm;
  }
  79.2% {
    color: $yellow-light;
  }
  85.2% {
    color: $yellow-light;
  }
  85.8% {
    color: $blue-cobalt;
  }
  91.8% {
    color: $blue-cobalt;
  }
  92.4% {
    color: $gray-warm;
  }
}

