/* line 1, ../sass/components/_typography.scss */
*,
*::before,
*::after {
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

/* line 6, ../sass/components/_typography.scss */
html {
  font-family: sans-serif;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.0125);
}

/* line 11, ../sass/components/_typography.scss */
html,
body {
  height: 100%;
}

/* line 15, ../sass/components/_typography.scss */
body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* line 23, ../sass/components/_typography.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 24, ../sass/components/_typography.scss */
audio, canvas, progress, video {
  display: inline-block;
}

/* line 25, ../sass/components/_typography.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 26, ../sass/components/_typography.scss */
[hidden], template {
  display: none;
}

/* line 27, ../sass/components/_typography.scss */
a {
  background: transparent;
  color: #4183c4;
  text-decoration: none;
}

/* line 32, ../sass/components/_typography.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 36, ../sass/components/_typography.scss */
a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

/* line 42, ../sass/components/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 43, ../sass/components/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 44, ../sass/components/_typography.scss */
dfn {
  font-style: italic;
}

/* line 45, ../sass/components/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 46, ../sass/components/_typography.scss */
small {
  font-size: 80%;
}

/* line 47, ../sass/components/_typography.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 48, ../sass/components/_typography.scss */
sup {
  top: -0.5em;
}

/* line 49, ../sass/components/_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 50, ../sass/components/_typography.scss */
img, svg {
  border: 0;
  max-width: 100%;
}

/* line 51, ../sass/components/_typography.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 52, ../sass/components/_typography.scss */
figure {
  margin: 1em 40px;
}

/* line 53, ../sass/components/_typography.scss */
hr {
  padding: 1px;
  border: 1px solid #ccc;
  -moz-box-sizing: content-box;
       box-sizing: content-box;
  height: 0;
}

/* line 54, ../sass/components/_typography.scss */
article,
.container {
  max-width: 100%;
  margin: 0 auto 2em;
  padding: 1em 0 5em;
  background: rgba(255, 255, 255, 0.975);
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow: visible;
}

/* line 63, ../sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin: 0;
  padding: 1rem 0 0;
}

/* line 68, ../sass/components/_typography.scss */
h1, h2, h3, h4, h5, h6, b, strong, em, thead th, button {
  font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande","Trebuchet Ms", sans-serif;
}

/* line 71, ../sass/components/_typography.scss */
h1 {
  font-size: 2.5rem;
}

/* line 74, ../sass/components/_typography.scss */
h2 {
  font-size: 2.25rem;
}

/* line 77, ../sass/components/_typography.scss */
h3 {
  font-size: 2rem;
}

/* line 80, ../sass/components/_typography.scss */
h4 {
  font-size: 1.75rem;
}

/* line 83, ../sass/components/_typography.scss */
h5 {
  font-size: 1.5rem;
}

/* line 86, ../sass/components/_typography.scss */
h6 {
  font-size: 1.25rem;
}

/* line 89, ../sass/components/_typography.scss */
p {
  margin: 0;
  padding: .5em 0;
}

/* line 93, ../sass/components/_typography.scss */
h3 ~ p,
h4 ~ p {
  padding-top: 0;
}

/* line 97, ../sass/components/_typography.scss */
header h1 {
  text-align: center;
}

/* line 100, ../sass/components/_typography.scss */
strong em {
  font-family: AvenirNext-BoldItalic, Avenir-HeavyOblique, Trebuchet-BoldItalic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
  font-weight: bold;
}

/* line 104, ../sass/components/_typography.scss */
pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  font-size: .875rem;
  line-height: 1.5;
  overflow: auto;
  margin: 1em 0;
  padding: 1rem 1.5rem;
  border-radius: 3px;
  word-wrap: normal;
  white-space: pre-wrap;
}

/* line 116, ../sass/components/_typography.scss */
code, kbd, pre, samp {
  font-family: Consolas, Menlo, Monaco, monospace;
}

/* line 117, ../sass/components/_typography.scss */
code, kbd, samp {
  font-size: 1em;
}

/* line 118, ../sass/components/_typography.scss */
pre code {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  word-wrap: normal;
  max-width: initial;
  display: inline;
  overflow: initial;
  line-height: inherit;
}

/* line 129, ../sass/components/_typography.scss */
pre code:before,
pre code:after {
  content: normal;
}

/* line 133, ../sass/components/_typography.scss */
p code,
ul code {
  font-family: Consolas, Menlo, Monaco, monospace;
  font-size: .875em;
  margin: 0;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 2px 0 0 0;
}

/* line 143, ../sass/components/_typography.scss */
p code:before,
p code:after,
ul code:before,
ul code:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

/* line 150, ../sass/components/_typography.scss */
ul {
  padding: 0 .5em;
  margin: .5em 0 .5em -.45rem;
}

/* line 154, ../sass/components/_typography.scss */
ol ul {
  padding-left: 1.5rem;
}

/* line 157, ../sass/components/_typography.scss */
ul li {
  list-style: none;
  position: relative;
}

/* line 161, ../sass/components/_typography.scss */
ul li {
  margin-left: -.75em;
  padding-left: .75em;
}

/* line 165, ../sass/components/_typography.scss */
ul li::before {
  content: "";
  position: absolute;
  top: .55em;
  left: 0;
  color: #666;
  padding: 2px;
  height: 1px;
  width: 1px;
  background-color: #3ca555;
  border: 1px solid #666;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  font-size: 1em;
}

/* line 180, ../sass/components/_typography.scss */
ul ol,
ol ol {
  margin: .5rem 0 1rem 1.45rem;
}

/* line 184, ../sass/components/_typography.scss */
ul li li {
  margin-left: 0;
}

/* line 187, ../sass/components/_typography.scss */
ul ol li {
  margin-left: -.75rem;
}

/* line 190, ../sass/components/_typography.scss */
ul li::before,
blockquote,
hr,
pre {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.125);
}

/* line 196, ../sass/components/_typography.scss */
blockquote {
  border-left: .5em solid #ccc;
  padding: .75em 1.5em;
  margin: 1em;
  background-color: #f7f7f7;
  color: #666;
  font-family: AvenirNext-Italic, Avenir-Oblique, AvenirMedium-Oblique, serif;
  font-style: italic;
}

/* http://atelierbram.github.com/typeface-tester/ */
/* line 207, ../sass/components/_typography.scss */
i {
  font-family: AvenirNext-Italic, Avenir-Oblique, TrebuchetMS-Italic, "Lucida Grande", Corbel,  "Trebuchet Ms", sans-serif;
  font-style: italic;
}

/* line 211, ../sass/components/_typography.scss */
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 212, ../sass/components/_typography.scss */
button, select {
  text-transform: none;
}

/* line 213, ../sass/components/_typography.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 214, ../sass/components/_typography.scss */
button {
  -webkit-appearance: none;
  overflow: visible;
  border-radius: 4px;
  background-clip: padding-box;
  background-image: -webkit-linear-gradient(top, white, #ddd);
  background-image: linear-gradient(to bottom, white, #ddd);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  display: inline-block;
  outline: 0;
  overflow: visible;
  margin: 0 0 .5em .75em;
  padding: 1em 2em;
  text-shadow: white 0 1px 1px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font-size: 16px;
  line-height: 1.3;
}

/* line 236, ../sass/components/_typography.scss */
button:invalid {
  box-shadow: none;
}

/* line 239, ../sass/components/_typography.scss */
button:focus {
  box-shadow: #06f 0 0 5px 0;
  z-index: 1;
}

/* line 243, ../sass/components/_typography.scss */
button:hover {
  background-image: -webkit-linear-gradient(top, white, #eee 1px, #ccc);
  background-image: linear-gradient(to bottom, white, #eee 1px, #ccc);
  text-decoration: none;
}

/* line 247, ../sass/components/_typography.scss */
button:active {
  background-image: -webkit-linear-gradient(top, #ddd, #eee);
  background-image: linear-gradient(to bottom, #ddd, #eee);
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999 #bbb #ddd;
}

/* line 252, ../sass/components/_typography.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 253, ../sass/components/_typography.scss */
button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

/* line 254, ../sass/components/_typography.scss */
input {
  line-height: normal;
}

/* line 255, ../sass/components/_typography.scss */
input[type="checkbox"], input[type="radio"] {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0;
}

/* line 256, ../sass/components/_typography.scss */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 258, ../sass/components/_typography.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 259, ../sass/components/_typography.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 260, ../sass/components/_typography.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 261, ../sass/components/_typography.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 262, ../sass/components/_typography.scss */
textarea {
  overflow: auto;
}

/* line 263, ../sass/components/_typography.scss */
optgroup {
  font-weight: bold;
}

/* line 264, ../sass/components/_typography.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #f7f7f7;
}

/* line 270, ../sass/components/_typography.scss */
thead {
  display: table-header-group;
}

/* line 273, ../sass/components/_typography.scss */
thead th {
  border-bottom: 1px solid #999;
  text-align: right;
  font-size: 1.125em;
  text-transform: uppercase;
  font-weight: bold;
  background: #ddd;
}

/* line 281, ../sass/components/_typography.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 284, ../sass/components/_typography.scss */
th, td {
  padding: .5em 1em;
}

/* zebra stripes can't use them here */
@media (min-width: 640px) {
  /* line 292, ../sass/components/_typography.scss */
  article,
  .container {
    max-width: 70em;
    padding: 1em 5% 5em;
    overflow: auto;
  }

  /* line 298, ../sass/components/_typography.scss */
  h1 {
    font-size: 2.75rem;
  }

  /* line 301, ../sass/components/_typography.scss */
  h2 {
    font-size: 2.5rem;
  }

  /* line 304, ../sass/components/_typography.scss */
  h3 {
    font-size: 2.25rem;
  }

  /* line 307, ../sass/components/_typography.scss */
  h4 {
    font-size: 2rem;
  }

  /* line 310, ../sass/components/_typography.scss */
  h5 {
    font-size: 1.75rem;
  }

  /* line 313, ../sass/components/_typography.scss */
  h6 {
    font-size: 1.5rem;
  }

  /* line 316, ../sass/components/_typography.scss */
  p {
    font-size: 1.25em;
  }

  /* line 319, ../sass/components/_typography.scss */
  li {
    font-size: 1.25rem;
  }

  /* line 322, ../sass/components/_typography.scss */
  li li {
    font-size: 1rem;
  }
}
/* line 6, ../sass/style-table.scss */
html {
  background: #1d2021;
}

/* line 13, ../sass/style-table.scss */
.container {
  background: #282828;
}

/* line 16, ../sass/style-table.scss */
.container--default col {
  width: 16.66%;
}

/* line 19, ../sass/style-table.scss */
.container--hsl col {
  width: 25%;
}

/* line 41, ../sass/style-table.scss */
thead {
  display: table-header-group;
}

/* line 47, ../sass/style-table.scss */
header,
thead th {
  font-family: AvenirNextCondensed-DemiBold, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

/* line 52, ../sass/style-table.scss */
thead th {
  border-bottom: 3px solid #928374;
  text-align: right;
  font-size: 1.125em;
  background: #bdae93;
  text-transform: uppercase;
}

/* line 60, ../sass/style-table.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 64, ../sass/style-table.scss */
th[scope="row"] {
  text-align: left;
}

/* line 67, ../sass/style-table.scss */
th, td {
  padding: .5em 1em;
}

/* line 70, ../sass/style-table.scss */
td {
  text-align: right;
}

/* line 73, ../sass/style-table.scss */
th:empty,
td:empty,
tbody tr:nth-of-type(1) {
  background: #1d2021;
  color: #7d898d;
}

/* line 79, ../sass/style-table.scss */
tr:nth-of-type(2) {
  background: #282828;
  color: #8e8e8e;
}

/* line 83, ../sass/style-table.scss */
tr:nth-of-type(3) {
  background: #32302f;
  color: #b2afae;
}

/* line 87, ../sass/style-table.scss */
tr:nth-of-type(4) {
  background: #3c3836;
  color: #bcb7b5;
}

/* line 91, ../sass/style-table.scss */
tr:nth-of-type(5) {
  background: #504945;
  color: #cec9c6;
}

/* line 95, ../sass/style-table.scss */
tr:nth-of-type(6) {
  background: #665c54;
  color: #e0dcd9;
}

/* line 99, ../sass/style-table.scss */
tr:nth-of-type(7) {
  background: #7c6f64;
  color: white;
}

/* line 104, ../sass/style-table.scss */
tr:nth-of-type(9),
tr:nth-of-type(10) {
  background: #928374;
  color: #211d19;
}

/* line 110, ../sass/style-table.scss */
tr:nth-of-type(12) {
  background: #f9f5d7;
  color: #5d540e;
}

/* line 114, ../sass/style-table.scss */
tr:nth-of-type(13) {
  background: #fbf1c7;
  color: #574706;
}

/* line 118, ../sass/style-table.scss */
tr:nth-of-type(14) {
  background: #f2e5bc;
  color: #685414;
}

/* line 122, ../sass/style-table.scss */
tr:nth-of-type(15) {
  background: #ebdbb2;
  color: #554316;
}

/* line 126, ../sass/style-table.scss */
tr:nth-of-type(16) {
  background: #d5c4a1;
  color: #524325;
}

/* line 130, ../sass/style-table.scss */
tr:nth-of-type(17) {
  background: #bdae93;
  color: #322b1f;
}

/* line 134, ../sass/style-table.scss */
tr:nth-of-type(18) {
  background: #a89984;
  color: #383128;
}

/* line 139, ../sass/style-table.scss */
tr:nth-of-type(20) {
  background: #fb4934;
  color: #2f0601;
}

/* line 143, ../sass/style-table.scss */
tr:nth-of-type(21) {
  background: #b8bb26;
  color: #3b3c0c;
}

/* line 147, ../sass/style-table.scss */
tr:nth-of-type(22) {
  background: #fabd2f;
  color: #5b4002;
}

/* line 151, ../sass/style-table.scss */
tr:nth-of-type(23) {
  background: #83a598;
  color: #273530;
}

/* line 155, ../sass/style-table.scss */
tr:nth-of-type(24) {
  background: #d3869b;
  color: #421823;
}

/* line 159, ../sass/style-table.scss */
tr:nth-of-type(25) {
  background: #8ec07c;
  color: #2f4c24;
}

/* line 163, ../sass/style-table.scss */
tr:nth-of-type(26) {
  background: #fe8019;
  color: #4b2200;
}

/* line 168, ../sass/style-table.scss */
tr:nth-of-type(28) {
  background: #cc241d;
  color: #fcecec;
}

/* line 172, ../sass/style-table.scss */
tr:nth-of-type(29) {
  background: #98971a;
  color: #151504;
}

/* line 176, ../sass/style-table.scss */
tr:nth-of-type(30) {
  background: #d79921;
  color: #261b06;
}

/* line 180, ../sass/style-table.scss */
tr:nth-of-type(31) {
  background: #458588;
  color: #000101;
}

/* line 184, ../sass/style-table.scss */
tr:nth-of-type(32) {
  background: #b16286;
  color: #0d070a;
}

/* line 188, ../sass/style-table.scss */
tr:nth-of-type(33) {
  background: #689d6a;
  color: #162317;
}

/* line 192, ../sass/style-table.scss */
tr:nth-of-type(34) {
  background: #d65d0e;
  color: #170a01;
}

/* line 197, ../sass/style-table.scss */
tr:nth-of-type(36) {
  background: #cc241d;
  color: #fcecec;
}

/* line 201, ../sass/style-table.scss */
tr:nth-of-type(37) {
  background: #79740e;
  color: #fdfcef;
}

/* line 205, ../sass/style-table.scss */
tr:nth-of-type(38) {
  background: #b57614;
  color: black;
}

/* line 209, ../sass/style-table.scss */
tr:nth-of-type(39) {
  background: #076678;
  color: #86e6f8;
}

/* line 213, ../sass/style-table.scss */
tr:nth-of-type(40) {
  background: #8f3f71;
  color: #f0dde9;
}

/* line 217, ../sass/style-table.scss */
tr:nth-of-type(41) {
  background: #427b58;
  color: #f5faf7;
}

/* line 221, ../sass/style-table.scss */
tr:nth-of-type(42) {
  background: #af3a03;
  color: #ffede5;
}
