/* line 76, ../sass/pantone2014spring.scss */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* line 83, ../sass/pantone2014spring.scss */
html {
  background: #f2f6f5;
  -webkit-animation-name: bg-color;
          animation-name: bg-color;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* line 91, ../sass/pantone2014spring.scss */
body {
  font: 100%/1.5 AvenirNextCondensed-Regular, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 3em;
  width: 42em;
  color: #111;
}

/* line 99, ../sass/pantone2014spring.scss */
h1,
header p {
  letter-spacing: -1px;
  word-spacing: 1px;
  line-height: 1;
  font-size: 2.2em;
  padding: 0 16px;
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 90s;
          animation-duration: 90s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* line 112, ../sass/pantone2014spring.scss */
h1 {
  color: #707dd9;
  text-transform: capitalize;
}

/* line 117, ../sass/pantone2014spring.scss */
header p {
  color: #8f9cff;
  font-size: 1.75em;
  text-align: right;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

/* line 124, ../sass/pantone2014spring.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #a6c2ba;
}

/* line 131, ../sass/pantone2014spring.scss */
col:nth-of-type(1) {
  background: rgba(0, 0, 0, 0.125);
  width: 62.5%;
}

/* line 135, ../sass/pantone2014spring.scss */
col:nth-of-type(2) {
  width: 20%;
}

/* line 138, ../sass/pantone2014spring.scss */
col:nth-of-type(3) {
  width: 17.5%;
}

/* line 141, ../sass/pantone2014spring.scss */
thead {
  display: table-header-group;
}

/* line 144, ../sass/pantone2014spring.scss */
header,
thead th {
  font-family: cuprum, AvenirNextCondensed-DemiBold, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

/* line 149, ../sass/pantone2014spring.scss */
thead th {
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 1.125em;
  background: #c4d7d1;
  text-transform: uppercase;
}

/* line 156, ../sass/pantone2014spring.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 160, ../sass/pantone2014spring.scss */
th[scope="col"] {
  border-bottom: 3px solid #a6c2ba;
}

/* line 163, ../sass/pantone2014spring.scss */
th[scope="row"] {
  text-align: left;
}

/* line 166, ../sass/pantone2014spring.scss */
th, td {
  padding: .5em 1em;
}

/* line 169, ../sass/pantone2014spring.scss */
td:nth-of-type(1) {
  text-align: right;
}

/* line 172, ../sass/pantone2014spring.scss */
td:nth-of-type(2) {
  text-align: right;
}

/* line 175, ../sass/pantone2014spring.scss */
tr:nth-of-type(1) {
  background: #87d4fa;
  color: #05557d;
}

/* line 179, ../sass/pantone2014spring.scss */
tr:nth-of-type(2) {
  background: #8f9cff;
  color: #00118f;
}

/* line 183, ../sass/pantone2014spring.scss */
tr:nth-of-type(3) {
  background: #9cf5a6;
  color: #095611;
}

/* line 187, ../sass/pantone2014spring.scss */
tr:nth-of-type(4) {
  background: #a6c2ba;
  color: #2b3e39;
}

/* line 191, ../sass/pantone2014spring.scss */
tr:nth-of-type(5) {
  background: #ccba85;
  color: #3a3118;
}

/* line 195, ../sass/pantone2014spring.scss */
tr:nth-of-type(6) {
  background: #ffdb00;
  color: #665800;
}

/* line 199, ../sass/pantone2014spring.scss */
tr:nth-of-type(7) {
  background: #f04270;
  color: #2f040f;
}

/* line 203, ../sass/pantone2014spring.scss */
tr:nth-of-type(8) {
  background: #ff5e33;
  color: #330b00;
}

/* line 207, ../sass/pantone2014spring.scss */
tr:nth-of-type(9) {
  background: #ad59ff;
  color: #130026;
}

/* line 211, ../sass/pantone2014spring.scss */
tr:nth-of-type(10) {
  background: #146eff;
  color: #000814;
}

/* line 215, ../sass/pantone2014spring.scss */
tr:nth-of-type(11) {
  background: #707dd9;
  color: #10153a;
}

/* line 219, ../sass/pantone2014spring.scss */
tr:nth-of-type(12) {
  background: #3ca555;
  color: #060f08;
}

/* line 223, ../sass/pantone2014spring.scss */
tr:nth-of-type(13) {
  background: #752563;
  color: #e7b2db;
}

/* line 228, ../sass/pantone2014spring.scss */
ul {
  list-style: none;
}

/* line 231, ../sass/pantone2014spring.scss */
a {
  color: #146eff;
  display: inline-block;
  padding: .25em 0;
  text-decoration: none;
}

/* line 237, ../sass/pantone2014spring.scss */
a:hover {
  color: #752563;
}

/* line 240, ../sass/pantone2014spring.scss */
footer,
footer ul {
  overflow: auto;
}

/* line 244, ../sass/pantone2014spring.scss */
footer {
  margin: 0 auto;
  border-top: 3px solid #8da49e;
  padding: 2em 1em 1em;
  background: #a6c2ba;
}

/* line 250, ../sass/pantone2014spring.scss */
footer li {
  font-size: .875em;
  text-align: center;
}

/* line 254, ../sass/pantone2014spring.scss */
footer a {
  float: left;
  width: 100%;
}

@-webkit-keyframes bg-color {
  0% {
    background: #fff;
  }
  6% {
    background: #fff;
  }
  6.6% {
    background: #87d4fa;
  }
  12.6% {
    background: #87d4fa;
  }
  13.2% {
    background: #8f9cff;
  }
  19.2% {
    background: #8f9cff;
  }
  19.8% {
    background: #9cf5a6;
  }
  25.8% {
    background: #9cf5a6;
  }
  26.4% {
    background: #a6c2ba;
  }
  32.4% {
    background: #a6c2ba;
  }
  33% {
    background: #ccba85;
  }
  39% {
    background: #ccba85;
  }
  39.6% {
    background: #ffdb00;
  }
  45.6% {
    background: #ffdb00;
  }
  46.2% {
    background: #f04270;
  }
  52.2% {
    background: #f04270;
  }
  52.8% {
    background: #ff5e33;
  }
  58.8% {
    background: #ff5e33;
  }
  59.4% {
    background: #ad59ff;
  }
  65.4% {
    background: #ad59ff;
  }
  66% {
    background: #146eff;
  }
  72% {
    background: #146eff;
  }
  72.6% {
    background: #707dd9;
  }
  78.6% {
    background: #707dd9;
  }
  79.2% {
    background: #3ca555;
  }
  85.2% {
    background: #3ca555;
  }
  85.8% {
    background: #752563;
  }
  91.8% {
    background: #752563;
  }
  92.4% {
    background: #f2f6f5;
  }
}

@keyframes bg-color {
  0% {
    background: #fff;
  }
  6% {
    background: #fff;
  }
  6.6% {
    background: #87d4fa;
  }
  12.6% {
    background: #87d4fa;
  }
  13.2% {
    background: #8f9cff;
  }
  19.2% {
    background: #8f9cff;
  }
  19.8% {
    background: #9cf5a6;
  }
  25.8% {
    background: #9cf5a6;
  }
  26.4% {
    background: #a6c2ba;
  }
  32.4% {
    background: #a6c2ba;
  }
  33% {
    background: #ccba85;
  }
  39% {
    background: #ccba85;
  }
  39.6% {
    background: #ffdb00;
  }
  45.6% {
    background: #ffdb00;
  }
  46.2% {
    background: #f04270;
  }
  52.2% {
    background: #f04270;
  }
  52.8% {
    background: #ff5e33;
  }
  58.8% {
    background: #ff5e33;
  }
  59.4% {
    background: #ad59ff;
  }
  65.4% {
    background: #ad59ff;
  }
  66% {
    background: #146eff;
  }
  72% {
    background: #146eff;
  }
  72.6% {
    background: #707dd9;
  }
  78.6% {
    background: #707dd9;
  }
  79.2% {
    background: #3ca555;
  }
  85.2% {
    background: #3ca555;
  }
  85.8% {
    background: #752563;
  }
  91.8% {
    background: #752563;
  }
  92.4% {
    background: #f2f6f5;
  }
}
@-webkit-keyframes color {
  0% {
    color: #f04270;
  }
  6% {
    color: #f04270;
  }
  6.6% {
    color: #ad59ff;
  }
  12.6% {
    color: #ad59ff;
  }
  13.2% {
    color: white;
  }
  19.2% {
    color: white;
  }
  19.8% {
    color: #ff5e33;
  }
  25.8% {
    color: #ff5e33;
  }
  26.4% {
    color: #ffdb00;
  }
  32.4% {
    color: #ffdb00;
  }
  33% {
    color: #752563;
  }
  39% {
    color: #752563;
  }
  39.6% {
    color: #146eff;
  }
  45.6% {
    color: #146eff;
  }
  46.2% {
    color: #f2f6f5;
  }
  52.2% {
    color: #f2f6f5;
  }
  52.8% {
    color: #9cf5a6;
  }
  58.8% {
    color: #9cf5a6;
  }
  59.4% {
    color: #87d4fa;
  }
  65.4% {
    color: #87d4fa;
  }
  66% {
    color: #8f9cff;
  }
  72% {
    color: #8f9cff;
  }
  72.6% {
    color: #a6c2ba;
  }
  78.6% {
    color: #a6c2ba;
  }
  79.2% {
    color: #ccba85;
  }
  85.2% {
    color: #ccba85;
  }
  85.8% {
    color: #707dd9;
  }
  91.8% {
    color: #707dd9;
  }
  92.4% {
    color: #a6c2ba;
  }
}
@keyframes color {
  0% {
    color: #f04270;
  }
  6% {
    color: #f04270;
  }
  6.6% {
    color: #ad59ff;
  }
  12.6% {
    color: #ad59ff;
  }
  13.2% {
    color: white;
  }
  19.2% {
    color: white;
  }
  19.8% {
    color: #ff5e33;
  }
  25.8% {
    color: #ff5e33;
  }
  26.4% {
    color: #ffdb00;
  }
  32.4% {
    color: #ffdb00;
  }
  33% {
    color: #752563;
  }
  39% {
    color: #752563;
  }
  39.6% {
    color: #146eff;
  }
  45.6% {
    color: #146eff;
  }
  46.2% {
    color: #f2f6f5;
  }
  52.2% {
    color: #f2f6f5;
  }
  52.8% {
    color: #9cf5a6;
  }
  58.8% {
    color: #9cf5a6;
  }
  59.4% {
    color: #87d4fa;
  }
  65.4% {
    color: #87d4fa;
  }
  66% {
    color: #8f9cff;
  }
  72% {
    color: #8f9cff;
  }
  72.6% {
    color: #a6c2ba;
  }
  78.6% {
    color: #a6c2ba;
  }
  79.2% {
    color: #ccba85;
  }
  85.2% {
    color: #ccba85;
  }
  85.8% {
    color: #707dd9;
  }
  91.8% {
    color: #707dd9;
  }
  92.4% {
    color: #a6c2ba;
  }
}
