/* line 31, ../sass/pantone2014spring.scss */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 38, ../sass/pantone2014spring.scss */
html {
  background: #f2f6f5;
  -webkit-animation-name: bg-color;
  animation-name: bg-color;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* line 46, ../sass/pantone2014spring.scss */
body {
  font: 100%/1.5 AvenirNextCondensed-Regular, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  margin: 0 auto;
  padding: 1em;
  padding-bottom: 3em;
  width: 42em;
  color: #111;
}

/* line 55, ../sass/pantone2014spring.scss */
h1,
header p {
  letter-spacing: -1px;
  word-spacing: 1px;
  line-height: 1;
  font-size: 2.2em;
  padding: 0 16px;
  -webkit-animation-name: color;
  animation-name: color;
  -webkit-animation-duration: 90s;
  animation-duration: 90s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

/* line 67, ../sass/pantone2014spring.scss */
h1 {
  color: #707dd9;
  text-transform: capitalize;
}

/* line 72, ../sass/pantone2014spring.scss */
header p {
  color: #8f9cff;
  font-size: 1.75em;
  text-align: right;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

/* line 79, ../sass/pantone2014spring.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: Consolas, Menlo, Monaco, monospace;
  background: #a6c2ba;
}

/* line 86, ../sass/pantone2014spring.scss */
col:nth-of-type(1) {
  background: rgba(0, 0, 0, 0.125);
  width: 62.5%;
}

/* line 90, ../sass/pantone2014spring.scss */
col:nth-of-type(2) {
  width: 20%;
}

/* line 93, ../sass/pantone2014spring.scss */
col:nth-of-type(3) {
  width: 17.5%;
}

/* line 96, ../sass/pantone2014spring.scss */
thead {
  display: table-header-group;
}

/* line 100, ../sass/pantone2014spring.scss */
header,
thead th {
  font-family: cuprum, AvenirNextCondensed-DemiBold, Calibri, Corbel, "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Tahoma, Verdana, sans-serif;
  font-weight: 700;
}

/* line 104, ../sass/pantone2014spring.scss */
thead th {
  border-bottom: 1px solid #333;
  text-align: right;
  font-size: 1.125em;
  background: #c4d7d1;
  text-transform: uppercase;
}

/* line 111, ../sass/pantone2014spring.scss */
thead th:nth-of-type(1) {
  text-align: left;
}

/* line 115, ../sass/pantone2014spring.scss */
th[scope="col"] {
  border-bottom: 3px solid #a6c2ba;
}

/* line 118, ../sass/pantone2014spring.scss */
th[scope="row"] {
  text-align: left;
}

/* line 121, ../sass/pantone2014spring.scss */
th, td {
  padding: .5em 1em;
}

/* line 124, ../sass/pantone2014spring.scss */
td:nth-of-type(1) {
  text-align: right;
}

/* line 127, ../sass/pantone2014spring.scss */
td:nth-of-type(2) {
  text-align: right;
}

/* line 130, ../sass/pantone2014spring.scss */
tr:nth-of-type(1) {
  background: #87d4fa;
}

/* line 133, ../sass/pantone2014spring.scss */
tr:nth-of-type(2) {
  background: #8f9cff;
}

/* line 136, ../sass/pantone2014spring.scss */
tr:nth-of-type(3) {
  background: #9cf5a6;
}

/* line 139, ../sass/pantone2014spring.scss */
tr:nth-of-type(4) {
  background: #a6c2ba;
}

/* line 142, ../sass/pantone2014spring.scss */
tr:nth-of-type(5) {
  background: #ccba85;
}

/* line 145, ../sass/pantone2014spring.scss */
tr:nth-of-type(6) {
  background: #ffdb00;
}

/* line 148, ../sass/pantone2014spring.scss */
tr:nth-of-type(7) {
  background: #f04270;
  color: #f2f6f5;
}

/* line 152, ../sass/pantone2014spring.scss */
tr:nth-of-type(8) {
  background: #ff5e33;
  color: #f2f6f5;
}

/* line 156, ../sass/pantone2014spring.scss */
tr:nth-of-type(9) {
  background: #ad59ff;
  color: #f2f6f5;
}

/* line 160, ../sass/pantone2014spring.scss */
tr:nth-of-type(10) {
  background: #146eff;
  color: #f2f6f5;
}

/* line 164, ../sass/pantone2014spring.scss */
tr:nth-of-type(11) {
  background: #707dd9;
  color: #f2f6f5;
}

/* line 168, ../sass/pantone2014spring.scss */
tr:nth-of-type(12) {
  background: #3ca555;
  color: #f2f6f5;
}

/* line 172, ../sass/pantone2014spring.scss */
tr:nth-of-type(13) {
  background: #752563;
  color: #f2f6f5;
}

/* line 177, ../sass/pantone2014spring.scss */
ul {
  list-style: none;
}

/* line 180, ../sass/pantone2014spring.scss */
a {
  color: #146eff;
  display: inline-block;
  padding: .25em 0;
  text-decoration: none;
}

/* line 186, ../sass/pantone2014spring.scss */
a:hover {
  color: #752563;
}

/* line 190, ../sass/pantone2014spring.scss */
footer,
footer ul {
  overflow: auto;
}

/* line 193, ../sass/pantone2014spring.scss */
footer {
  margin: 0 auto;
  border-top: 3px solid #8da49e;
  padding: 2em 1em 1em;
  background: #a6c2ba;
}

/* line 199, ../sass/pantone2014spring.scss */
footer li {
  font-size: .875em;
  text-align: center;
}

/* line 203, ../sass/pantone2014spring.scss */
footer a {
  float: left;
  width: 100%;
}

@-webkit-keyframes bg-color {
  /* line 208, ../sass/pantone2014spring.scss */
  0% {
    background: #fff;
  }

  /* line 211, ../sass/pantone2014spring.scss */
  6% {
    background: #fff;
  }

  /* line 214, ../sass/pantone2014spring.scss */
  6.6% {
    background: #87d4fa;
  }

  /* line 217, ../sass/pantone2014spring.scss */
  12.6% {
    background: #87d4fa;
  }

  /* line 220, ../sass/pantone2014spring.scss */
  13.2% {
    background: #8f9cff;
  }

  /* line 223, ../sass/pantone2014spring.scss */
  19.2% {
    background: #8f9cff;
  }

  /* line 226, ../sass/pantone2014spring.scss */
  19.8% {
    background: #9cf5a6;
  }

  /* line 229, ../sass/pantone2014spring.scss */
  25.8% {
    background: #9cf5a6;
  }

  /* line 232, ../sass/pantone2014spring.scss */
  26.4% {
    background: #a6c2ba;
  }

  /* line 235, ../sass/pantone2014spring.scss */
  32.4% {
    background: #a6c2ba;
  }

  /* line 238, ../sass/pantone2014spring.scss */
  33% {
    background: #ccba85;
  }

  /* line 241, ../sass/pantone2014spring.scss */
  39% {
    background: #ccba85;
  }

  /* line 244, ../sass/pantone2014spring.scss */
  39.6% {
    background: #ffdb00;
  }

  /* line 247, ../sass/pantone2014spring.scss */
  45.6% {
    background: #ffdb00;
  }

  /* line 250, ../sass/pantone2014spring.scss */
  46.2% {
    background: #f04270;
  }

  /* line 253, ../sass/pantone2014spring.scss */
  52.2% {
    background: #f04270;
  }

  /* line 256, ../sass/pantone2014spring.scss */
  52.8% {
    background: #ff5e33;
  }

  /* line 259, ../sass/pantone2014spring.scss */
  58.8% {
    background: #ff5e33;
  }

  /* line 262, ../sass/pantone2014spring.scss */
  59.4% {
    background: #ad59ff;
  }

  /* line 265, ../sass/pantone2014spring.scss */
  65.4% {
    background: #ad59ff;
  }

  /* line 268, ../sass/pantone2014spring.scss */
  66% {
    background: #146eff;
  }

  /* line 271, ../sass/pantone2014spring.scss */
  72% {
    background: #146eff;
  }

  /* line 274, ../sass/pantone2014spring.scss */
  72.6% {
    background: #707dd9;
  }

  /* line 277, ../sass/pantone2014spring.scss */
  78.6% {
    background: #707dd9;
  }

  /* line 280, ../sass/pantone2014spring.scss */
  79.2% {
    background: #3ca555;
  }

  /* line 283, ../sass/pantone2014spring.scss */
  85.2% {
    background: #3ca555;
  }

  /* line 286, ../sass/pantone2014spring.scss */
  85.8% {
    background: #752563;
  }

  /* line 289, ../sass/pantone2014spring.scss */
  91.8% {
    background: #752563;
  }

  /* line 292, ../sass/pantone2014spring.scss */
  92.4% {
    background: #f2f6f5;
  }
}

@keyframes bg-color {
  /* line 208, ../sass/pantone2014spring.scss */
  0% {
    background: #fff;
  }

  /* line 211, ../sass/pantone2014spring.scss */
  6% {
    background: #fff;
  }

  /* line 214, ../sass/pantone2014spring.scss */
  6.6% {
    background: #87d4fa;
  }

  /* line 217, ../sass/pantone2014spring.scss */
  12.6% {
    background: #87d4fa;
  }

  /* line 220, ../sass/pantone2014spring.scss */
  13.2% {
    background: #8f9cff;
  }

  /* line 223, ../sass/pantone2014spring.scss */
  19.2% {
    background: #8f9cff;
  }

  /* line 226, ../sass/pantone2014spring.scss */
  19.8% {
    background: #9cf5a6;
  }

  /* line 229, ../sass/pantone2014spring.scss */
  25.8% {
    background: #9cf5a6;
  }

  /* line 232, ../sass/pantone2014spring.scss */
  26.4% {
    background: #a6c2ba;
  }

  /* line 235, ../sass/pantone2014spring.scss */
  32.4% {
    background: #a6c2ba;
  }

  /* line 238, ../sass/pantone2014spring.scss */
  33% {
    background: #ccba85;
  }

  /* line 241, ../sass/pantone2014spring.scss */
  39% {
    background: #ccba85;
  }

  /* line 244, ../sass/pantone2014spring.scss */
  39.6% {
    background: #ffdb00;
  }

  /* line 247, ../sass/pantone2014spring.scss */
  45.6% {
    background: #ffdb00;
  }

  /* line 250, ../sass/pantone2014spring.scss */
  46.2% {
    background: #f04270;
  }

  /* line 253, ../sass/pantone2014spring.scss */
  52.2% {
    background: #f04270;
  }

  /* line 256, ../sass/pantone2014spring.scss */
  52.8% {
    background: #ff5e33;
  }

  /* line 259, ../sass/pantone2014spring.scss */
  58.8% {
    background: #ff5e33;
  }

  /* line 262, ../sass/pantone2014spring.scss */
  59.4% {
    background: #ad59ff;
  }

  /* line 265, ../sass/pantone2014spring.scss */
  65.4% {
    background: #ad59ff;
  }

  /* line 268, ../sass/pantone2014spring.scss */
  66% {
    background: #146eff;
  }

  /* line 271, ../sass/pantone2014spring.scss */
  72% {
    background: #146eff;
  }

  /* line 274, ../sass/pantone2014spring.scss */
  72.6% {
    background: #707dd9;
  }

  /* line 277, ../sass/pantone2014spring.scss */
  78.6% {
    background: #707dd9;
  }

  /* line 280, ../sass/pantone2014spring.scss */
  79.2% {
    background: #3ca555;
  }

  /* line 283, ../sass/pantone2014spring.scss */
  85.2% {
    background: #3ca555;
  }

  /* line 286, ../sass/pantone2014spring.scss */
  85.8% {
    background: #752563;
  }

  /* line 289, ../sass/pantone2014spring.scss */
  91.8% {
    background: #752563;
  }

  /* line 292, ../sass/pantone2014spring.scss */
  92.4% {
    background: #f2f6f5;
  }
}

@-webkit-keyframes color {
  /* line 298, ../sass/pantone2014spring.scss */
  0% {
    color: #f04270;
  }

  /* line 301, ../sass/pantone2014spring.scss */
  6% {
    color: #f04270;
  }

  /* line 304, ../sass/pantone2014spring.scss */
  6.6% {
    color: #ad59ff;
  }

  /* line 307, ../sass/pantone2014spring.scss */
  12.6% {
    color: #ad59ff;
  }

  /* line 310, ../sass/pantone2014spring.scss */
  13.2% {
    color: white;
  }

  /* line 313, ../sass/pantone2014spring.scss */
  19.2% {
    color: white;
  }

  /* line 316, ../sass/pantone2014spring.scss */
  19.8% {
    color: #ff5e33;
  }

  /* line 319, ../sass/pantone2014spring.scss */
  25.8% {
    color: #ff5e33;
  }

  /* line 322, ../sass/pantone2014spring.scss */
  26.4% {
    color: #ffdb00;
  }

  /* line 325, ../sass/pantone2014spring.scss */
  32.4% {
    color: #ffdb00;
  }

  /* line 328, ../sass/pantone2014spring.scss */
  33% {
    color: #752563;
  }

  /* line 331, ../sass/pantone2014spring.scss */
  39% {
    color: #752563;
  }

  /* line 334, ../sass/pantone2014spring.scss */
  39.6% {
    color: #146eff;
  }

  /* line 337, ../sass/pantone2014spring.scss */
  45.6% {
    color: #146eff;
  }

  /* line 340, ../sass/pantone2014spring.scss */
  46.2% {
    color: #f2f6f5;
  }

  /* line 343, ../sass/pantone2014spring.scss */
  52.2% {
    color: #f2f6f5;
  }

  /* line 346, ../sass/pantone2014spring.scss */
  52.8% {
    color: #9cf5a6;
  }

  /* line 349, ../sass/pantone2014spring.scss */
  58.8% {
    color: #9cf5a6;
  }

  /* line 352, ../sass/pantone2014spring.scss */
  59.4% {
    color: #87d4fa;
  }

  /* line 355, ../sass/pantone2014spring.scss */
  65.4% {
    color: #87d4fa;
  }

  /* line 358, ../sass/pantone2014spring.scss */
  66% {
    color: #8f9cff;
  }

  /* line 361, ../sass/pantone2014spring.scss */
  72% {
    color: #8f9cff;
  }

  /* line 364, ../sass/pantone2014spring.scss */
  72.6% {
    color: #a6c2ba;
  }

  /* line 367, ../sass/pantone2014spring.scss */
  78.6% {
    color: #a6c2ba;
  }

  /* line 370, ../sass/pantone2014spring.scss */
  79.2% {
    color: #ccba85;
  }

  /* line 373, ../sass/pantone2014spring.scss */
  85.2% {
    color: #ccba85;
  }

  /* line 376, ../sass/pantone2014spring.scss */
  85.8% {
    color: #707dd9;
  }

  /* line 379, ../sass/pantone2014spring.scss */
  91.8% {
    color: #707dd9;
  }

  /* line 382, ../sass/pantone2014spring.scss */
  92.4% {
    color: #a6c2ba;
  }
}

@keyframes color {
  /* line 298, ../sass/pantone2014spring.scss */
  0% {
    color: #f04270;
  }

  /* line 301, ../sass/pantone2014spring.scss */
  6% {
    color: #f04270;
  }

  /* line 304, ../sass/pantone2014spring.scss */
  6.6% {
    color: #ad59ff;
  }

  /* line 307, ../sass/pantone2014spring.scss */
  12.6% {
    color: #ad59ff;
  }

  /* line 310, ../sass/pantone2014spring.scss */
  13.2% {
    color: white;
  }

  /* line 313, ../sass/pantone2014spring.scss */
  19.2% {
    color: white;
  }

  /* line 316, ../sass/pantone2014spring.scss */
  19.8% {
    color: #ff5e33;
  }

  /* line 319, ../sass/pantone2014spring.scss */
  25.8% {
    color: #ff5e33;
  }

  /* line 322, ../sass/pantone2014spring.scss */
  26.4% {
    color: #ffdb00;
  }

  /* line 325, ../sass/pantone2014spring.scss */
  32.4% {
    color: #ffdb00;
  }

  /* line 328, ../sass/pantone2014spring.scss */
  33% {
    color: #752563;
  }

  /* line 331, ../sass/pantone2014spring.scss */
  39% {
    color: #752563;
  }

  /* line 334, ../sass/pantone2014spring.scss */
  39.6% {
    color: #146eff;
  }

  /* line 337, ../sass/pantone2014spring.scss */
  45.6% {
    color: #146eff;
  }

  /* line 340, ../sass/pantone2014spring.scss */
  46.2% {
    color: #f2f6f5;
  }

  /* line 343, ../sass/pantone2014spring.scss */
  52.2% {
    color: #f2f6f5;
  }

  /* line 346, ../sass/pantone2014spring.scss */
  52.8% {
    color: #9cf5a6;
  }

  /* line 349, ../sass/pantone2014spring.scss */
  58.8% {
    color: #9cf5a6;
  }

  /* line 352, ../sass/pantone2014spring.scss */
  59.4% {
    color: #87d4fa;
  }

  /* line 355, ../sass/pantone2014spring.scss */
  65.4% {
    color: #87d4fa;
  }

  /* line 358, ../sass/pantone2014spring.scss */
  66% {
    color: #8f9cff;
  }

  /* line 361, ../sass/pantone2014spring.scss */
  72% {
    color: #8f9cff;
  }

  /* line 364, ../sass/pantone2014spring.scss */
  72.6% {
    color: #a6c2ba;
  }

  /* line 367, ../sass/pantone2014spring.scss */
  78.6% {
    color: #a6c2ba;
  }

  /* line 370, ../sass/pantone2014spring.scss */
  79.2% {
    color: #ccba85;
  }

  /* line 373, ../sass/pantone2014spring.scss */
  85.2% {
    color: #ccba85;
  }

  /* line 376, ../sass/pantone2014spring.scss */
  85.8% {
    color: #707dd9;
  }

  /* line 379, ../sass/pantone2014spring.scss */
  91.8% {
    color: #707dd9;
  }

  /* line 382, ../sass/pantone2014spring.scss */
  92.4% {
    color: #a6c2ba;
  }
}
