/*

Name: c-Tiles flatui
Author: Bram de Haan (http://atelierbram.github.io/c-tiles16/colorscheming)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #2c3e50;
$base01: #34495e;
$base02: #4d5f6e;
$base03: #66767d;
$base04: #7f8c8d;
$base05: #95a5a6;
$base06: #bdc3c7;
$base07: #ecf0f1;
$base08: #e74c3c;
$base09: #dd6911;
$base0a: #f39c12;
$base0b: #27ae60;
$base0c: #1abc9c;
$base0d: #3498db;
$base0e: #9b59b6;
$base0f: #e73c94;

