/*

Name: c-Tiles Eighties
Author: Chris Kempson (http://chriskempson.com)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #2d2d2d;
$base01: #393939;
$base02: #515151;
$base03: #747369;
$base04: #a09f93;
$base05: #d3d0c8;
$base06: #e8e6df;
$base07: #f2f0ec;
$base08: #f2777a;
$base09: #f99157;
$base0a: #ffcc66;
$base0b: #99cc99;
$base0c: #66cccc;
$base0d: #6699cc;
$base0e: #cc99cc;
$base0f: #d27b53;

