/*

Name: c-Tiles Atelier Forest
Author: Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/forest)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1b1918;
$base01: #2c2421;
$base02: #68615e;
$base03: #766e6b;
$base04: #9c9491;
$base05: #a8a19f;
$base06: #e6e2e0;
$base07: #f1efee;
$base08: #f22c40;
$base09: #df5320;
$base0a: #d5911a;
$base0b: #5ab738;
$base0c: #00ad9c;
$base0d: #407ee7;
$base0e: #6666ea;
$base0f: #c33ff3;

