/*

Name: c-Tiles Monokai
Author: Wimer Hazenberg (http://www.monokai.nl)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #272822;
$base01: #383830;
$base02: #49483e;
$base03: #75715e;
$base04: #a59f85;
$base05: #f8f8f2;
$base06: #f5f4f1;
$base07: #f9f8f5;
$base08: #f92672;
$base09: #fd971f;
$base0a: #f4bf75;
$base0b: #a6e22e;
$base0c: #a1efe4;
$base0d: #66d9ef;
$base0e: #ae81ff;
$base0f: #cc6633;

