/*

Name: c-Tiles pantone2014spring
Author: Bram de Haan (http://atelierbram.github.io/c-tiles16/colorscheming)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #1b1b18;
$base01: #292923;
$base02: #5d5d56;
$base03: #6a6a62;
$base04: #a6c2ba;
$base05: #ccba85;
$base06: #d2d6c2;
$base07: #fffaeb;
$base08: #f04270;
$base09: #ff5e33;
$base0a: #ffdb00;
$base0b: #3ca555;
$base0c: #288aaa;
$base0d: #146eff;
$base0e: #707dd9;
$base0f: #ad59ff;

