/*

Name: c-Tiles 3024
Author: Jan T. Sott (http://github.com/idleberg)

Sass-variables template by Bram de Haan (https://github.com/atelierbram/c-tiles16)
Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

$base00: #090300;
$base01: #3a3432;
$base02: #4a4543;
$base03: #5c5855;
$base04: #807d7c;
$base05: #a5a2a2;
$base06: #d6d5d4;
$base07: #f7f7f7;
$base08: #db2d20;
$base09: #e8bbd0;
$base0a: #fded02;
$base0b: #01a252;
$base0c: #b5e4f4;
$base0d: #01a0e4;
$base0e: #a16a94;
$base0f: #cdab53;

