.colorblend-table {
  padding: 0 1em;
}
.colorblend-table rect {
  stroke: black;
  stroke-opacity: 0.125;
}
.colorblend-table rect:hover {
  stroke-opacity: 1;
  cursor: pointer;
}

// $b-color: #fff !default;

$list: ($base16-yellow, $base16-orange, $base16-red, $base16-magenta, $base16-violet, $base16-blue, $base16-cyan, $base16-green);
@for $i from 1 through length($list) {
  .bl-#{$i},
  .bl-start {
    $b-color: nth($list, $i) !global;
    background-color: grayscale($b-color);

    .bv_00_6-25 { fill: mix($b-color,$base00,6.25%); }
    .bv_00_12-50 { fill: mix($b-color,$base00,12.5%); }
    .bv_00_18-75 { fill: mix($b-color,$base00,18.75%); }
    .bv_00_25 { fill: mix($b-color,$base00,25%); }
    .bv_00_31-25 { fill: mix($b-color,$base00,31.25%); }
    .bv_00_37-5 { fill: mix($b-color,$base00,37.5%); }
    .bv_00_43-75 { fill: mix($b-color,$base00,43.75%); }
    .bv_00_50 { fill: mix($b-color,$base00,50%); }
    .bv_00_56-25 { fill: mix($b-color,$base00,56.25%); }
    .bv_00_62-5 { fill: mix($b-color,$base00,62.5%); }
    .bv_00_68-75 { fill: mix($b-color,$base00,68.75%); }
    .bv_00_75 { fill: mix($b-color,$base00,75%); }
    .bv_00_81-25 { fill: mix($b-color,$base00,81.25%); }
    .bv_00_87-5 { fill: mix($b-color,$base00,87.5%); }
    .bv_00_93-75 { fill: mix($b-color,$base00,93.75%); }
    .bv_00_100 { fill: mix($b-color,$base00,100%); }

    .bv_01_6-25 { fill: mix($b-color,$base01,6.25%); }
    .bv_01_12-50 { fill: mix($b-color,$base01,12.5%); }
    .bv_01_18-75 { fill: mix($b-color,$base01,18.75%); }
    .bv_01_25 { fill: mix($b-color,$base01,25%); }
    .bv_01_31-25 { fill: mix($b-color,$base01,31.25%); }
    .bv_01_37-5 { fill: mix($b-color,$base01,37.5%); }
    .bv_01_43-75 { fill: mix($b-color,$base01,43.75%); }
    .bv_01_50 { fill: mix($b-color,$base01,50%); }
    .bv_01_56-25 { fill: mix($b-color,$base01,56.25%); }
    .bv_01_62-5 { fill: mix($b-color,$base01,62.5%); }
    .bv_01_68-75 { fill: mix($b-color,$base01,68.75%); }
    .bv_01_75 { fill: mix($b-color,$base01,75%); }
    .bv_01_81-25 { fill: mix($b-color,$base01,81.25%); }
    .bv_01_87-5 { fill: mix($b-color,$base01,87.5%); }
    .bv_01_93-75 { fill: mix($b-color,$base01,93.75%); }
    .bv_01_100 { fill: mix($b-color,$base01,100%); }

    .bv_02_6-25 { fill: mix($b-color,$base02,6.25%); }
    .bv_02_12-50 { fill: mix($b-color,$base02,12.5%); }
    .bv_02_18-75 { fill: mix($b-color,$base02,18.75%); }
    .bv_02_25 { fill: mix($b-color,$base02,25%); }
    .bv_02_31-25 { fill: mix($b-color,$base02,31.25%); }
    .bv_02_37-5 { fill: mix($b-color,$base02,37.5%); }
    .bv_02_43-75 { fill: mix($b-color,$base02,43.75%); }
    .bv_02_50 { fill: mix($b-color,$base02,50%); }
    .bv_02_56-25 { fill: mix($b-color,$base02,56.25%); }
    .bv_02_62-5 { fill: mix($b-color,$base02,62.5%); }
    .bv_02_68-75 { fill: mix($b-color,$base02,68.75%); }
    .bv_02_75 { fill: mix($b-color,$base02,75%); }
    .bv_02_81-25 { fill: mix($b-color,$base02,81.25%); }
    .bv_02_87-5 { fill: mix($b-color,$base02,87.5%); }
    .bv_02_93-75 { fill: mix($b-color,$base02,93.75%); }
    .bv_02_100 { fill: mix($b-color,$base02,100%); }

    .bv_03_6-25 { fill: mix($b-color,$base03,6.25%); }
    .bv_03_12-50 { fill: mix($b-color,$base03,12.5%); }
    .bv_03_18-75 { fill: mix($b-color,$base03,18.75%); }
    .bv_03_25 { fill: mix($b-color,$base03,25%); }
    .bv_03_31-25 { fill: mix($b-color,$base03,31.25%); }
    .bv_03_37-5 { fill: mix($b-color,$base03,37.5%); }
    .bv_03_43-75 { fill: mix($b-color,$base03,43.75%); }
    .bv_03_50 { fill: mix($b-color,$base03,50%); }
    .bv_03_56-25 { fill: mix($b-color,$base03,56.25%); }
    .bv_03_62-5 { fill: mix($b-color,$base03,62.5%); }
    .bv_03_68-75 { fill: mix($b-color,$base03,68.75%); }
    .bv_03_75 { fill: mix($b-color,$base03,75%); }
    .bv_03_81-25 { fill: mix($b-color,$base03,81.25%); }
    .bv_03_87-5 { fill: mix($b-color,$base03,87.5%); }
    .bv_03_93-75 { fill: mix($b-color,$base03,93.75%); }
    .bv_03_100 { fill: mix($b-color,$base03,100%); }

    .bv_04_6-25 { fill: mix($b-color,$base04,6.25%); }
    .bv_04_12-50 { fill: mix($b-color,$base04,12.5%); }
    .bv_04_18-75 { fill: mix($b-color,$base04,18.75%); }
    .bv_04_25 { fill: mix($b-color,$base04,25%); }
    .bv_04_31-25 { fill: mix($b-color,$base04,31.25%); }
    .bv_04_37-5 { fill: mix($b-color,$base04,37.5%); }
    .bv_04_43-75 { fill: mix($b-color,$base04,43.75%); }
    .bv_04_50 { fill: mix($b-color,$base04,50%); }
    .bv_04_56-25 { fill: mix($b-color,$base04,56.25%); }
    .bv_04_62-5 { fill: mix($b-color,$base04,62.5%); }
    .bv_04_68-75 { fill: mix($b-color,$base04,68.75%); }
    .bv_04_75 { fill: mix($b-color,$base04,75%); }
    .bv_04_81-25 { fill: mix($b-color,$base04,81.25%); }
    .bv_04_87-5 { fill: mix($b-color,$base04,87.5%); }
    .bv_04_93-75 { fill: mix($b-color,$base04,93.75%); }
    .bv_04_100 { fill: mix($b-color,$base04,100%); }

    .bv_05_6-25 { fill: mix($b-color,$base05,6.25%); }
    .bv_05_12-50 { fill: mix($b-color,$base05,12.5%); }
    .bv_05_18-75 { fill: mix($b-color,$base05,18.75%); }
    .bv_05_25 { fill: mix($b-color,$base05,25%); }
    .bv_05_31-25 { fill: mix($b-color,$base05,31.25%); }
    .bv_05_37-5 { fill: mix($b-color,$base05,37.5%); }
    .bv_05_43-75 { fill: mix($b-color,$base05,43.75%); }
    .bv_05_50 { fill: mix($b-color,$base05,50%); }
    .bv_05_56-25 { fill: mix($b-color,$base05,56.25%); }
    .bv_05_62-5 { fill: mix($b-color,$base05,62.5%); }
    .bv_05_68-75 { fill: mix($b-color,$base05,68.75%); }
    .bv_05_75 { fill: mix($b-color,$base05,75%); }
    .bv_05_81-25 { fill: mix($b-color,$base05,81.25%); }
    .bv_05_87-5 { fill: mix($b-color,$base05,87.5%); }
    .bv_05_93-75 { fill: mix($b-color,$base05,93.75%); }
    .bv_05_100 { fill: mix($b-color,$base05,100%); }

    .bv_06_6-25 { fill: mix($b-color,$base06,6.25%); }
    .bv_06_12-50 { fill: mix($b-color,$base06,12.5%); }
    .bv_06_18-75 { fill: mix($b-color,$base06,18.75%); }
    .bv_06_25 { fill: mix($b-color,$base06,25%); }
    .bv_06_31-25 { fill: mix($b-color,$base06,31.25%); }
    .bv_06_37-5 { fill: mix($b-color,$base06,37.5%); }
    .bv_06_43-75 { fill: mix($b-color,$base06,43.75%); }
    .bv_06_50 { fill: mix($b-color,$base06,50%); }
    .bv_06_56-25 { fill: mix($b-color,$base06,56.25%); }
    .bv_06_62-5 { fill: mix($b-color,$base06,62.5%); }
    .bv_06_68-75 { fill: mix($b-color,$base06,68.75%); }
    .bv_06_75 { fill: mix($b-color,$base06,75%); }
    .bv_06_81-25 { fill: mix($b-color,$base06,81.25%); }
    .bv_06_87-5 { fill: mix($b-color,$base06,87.5%); }
    .bv_06_93-75 { fill: mix($b-color,$base06,93.75%); }
    .bv_06_100 { fill: mix($b-color,$base06,100%); }

    .bv_07_6-25 { fill: mix($b-color,$base07,6.25%); }
    .bv_07_12-50 { fill: mix($b-color,$base07,12.5%); }
    .bv_07_18-75 { fill: mix($b-color,$base07,18.75%); }
    .bv_07_25 { fill: mix($b-color,$base07,25%); }
    .bv_07_31-25 { fill: mix($b-color,$base07,31.25%); }
    .bv_07_37-5 { fill: mix($b-color,$base07,37.5%); }
    .bv_07_43-75 { fill: mix($b-color,$base07,43.75%); }
    .bv_07_50 { fill: mix($b-color,$base07,50%); }
    .bv_07_56-25 { fill: mix($b-color,$base07,56.25%); }
    .bv_07_62-5 { fill: mix($b-color,$base07,62.5%); }
    .bv_07_68-75 { fill: mix($b-color,$base07,68.75%); }
    .bv_07_75 { fill: mix($b-color,$base07,75%); }
    .bv_07_81-25 { fill: mix($b-color,$base07,81.25%); }
    .bv_07_87-5 { fill: mix($b-color,$base07,87.5%); }
    .bv_07_93-75 { fill: mix($b-color,$base07,93.75%); }
    .bv_07_100 { fill: mix($b-color,$base07,100%); }

    .bv_y_6-25 { fill: mix($b-color,$base16-yellow,6.25%); }
    .bv_y_12-50 { fill: mix($b-color,$base16-yellow,12.5%); }
    .bv_y_18-75 { fill: mix($b-color,$base16-yellow,18.75%); }
    .bv_y_25 { fill: mix($b-color,$base16-yellow,25%); }
    .bv_y_31-25 { fill: mix($b-color,$base16-yellow,31.25%); }
    .bv_y_37-5 { fill: mix($b-color,$base16-yellow,37.5%); }
    .bv_y_43-75 { fill: mix($b-color,$base16-yellow,43.75%); }
    .bv_y_50 { fill: mix($b-color,$base16-yellow,50%); }
    .bv_y_56-25 { fill: mix($b-color,$base16-yellow,56.25%); }
    .bv_y_62-5 { fill: mix($b-color,$base16-yellow,62.5%); }
    .bv_y_68-75 { fill: mix($b-color,$base16-yellow,68.75%); }
    .bv_y_75 { fill: mix($b-color,$base16-yellow,75%); }
    .bv_y_81-25 { fill: mix($b-color,$base16-yellow,81.25%); }
    .bv_y_87-5 { fill: mix($b-color,$base16-yellow,87.5%); }
    .bv_y_93-75 { fill: mix($b-color,$base16-yellow,93.75%); }
    .bv_y_100 { fill: mix($b-color,$base16-yellow,100%); }

    .bv_o_6-25 { fill: mix($b-color,$base16-orange,6.25%); }
    .bv_o_12-50 { fill: mix($b-color,$base16-orange,12.5%); }
    .bv_o_18-75 { fill: mix($b-color,$base16-orange,18.75%); }
    .bv_o_25 { fill: mix($b-color,$base16-orange,25%); }
    .bv_o_31-25 { fill: mix($b-color,$base16-orange,31.25%); }
    .bv_o_37-5 { fill: mix($b-color,$base16-orange,37.5%); }
    .bv_o_43-75 { fill: mix($b-color,$base16-orange,43.75%); }
    .bv_o_50 { fill: mix($b-color,$base16-orange,50%); }
    .bv_o_56-25 { fill: mix($b-color,$base16-orange,56.25%); }
    .bv_o_62-5 { fill: mix($b-color,$base16-orange,62.5%); }
    .bv_o_68-75 { fill: mix($b-color,$base16-orange,68.75%); }
    .bv_o_75 { fill: mix($b-color,$base16-orange,75%); }
    .bv_o_81-25 { fill: mix($b-color,$base16-orange,81.25%); }
    .bv_o_87-5 { fill: mix($b-color,$base16-orange,87.5%); }
    .bv_o_93-75 { fill: mix($b-color,$base16-orange,93.75%); }
    .bv_o_100 { fill: mix($b-color,$base16-orange,100%); }

    .bv_r_6-25 { fill: mix($b-color,$base16-red,6.25%); }
    .bv_r_12-50 { fill: mix($b-color,$base16-red,12.5%); }
    .bv_r_18-75 { fill: mix($b-color,$base16-red,18.75%); }
    .bv_r_25 { fill: mix($b-color,$base16-red,25%); }
    .bv_r_31-25 { fill: mix($b-color,$base16-red,31.25%); }
    .bv_r_37-5 { fill: mix($b-color,$base16-red,37.5%); }
    .bv_r_43-75 { fill: mix($b-color,$base16-red,43.75%); }
    .bv_r_50 { fill: mix($b-color,$base16-red,50%); }
    .bv_r_56-25 { fill: mix($b-color,$base16-red,56.25%); }
    .bv_r_62-5 { fill: mix($b-color,$base16-red,62.5%); }
    .bv_r_68-75 { fill: mix($b-color,$base16-red,68.75%); }
    .bv_r_75 { fill: mix($b-color,$base16-red,75%); }
    .bv_r_81-25 { fill: mix($b-color,$base16-red,81.25%); }
    .bv_r_87-5 { fill: mix($b-color,$base16-red,87.5%); }
    .bv_r_93-75 { fill: mix($b-color,$base16-red,93.75%); }
    .bv_r_100 { fill: mix($b-color,$base16-red,100%); }

    .bv_m_6-25 { fill: mix($b-color,$base16-magenta,6.25%); }
    .bv_m_12-50 { fill: mix($b-color,$base16-magenta,12.5%); }
    .bv_m_18-75 { fill: mix($b-color,$base16-magenta,18.75%); }
    .bv_m_25 { fill: mix($b-color,$base16-magenta,25%); }
    .bv_m_31-25 { fill: mix($b-color,$base16-magenta,31.25%); }
    .bv_m_37-5 { fill: mix($b-color,$base16-magenta,37.5%); }
    .bv_m_43-75 { fill: mix($b-color,$base16-magenta,43.75%); }
    .bv_m_50 { fill: mix($b-color,$base16-magenta,50%); }
    .bv_m_56-25 { fill: mix($b-color,$base16-magenta,56.25%); }
    .bv_m_62-5 { fill: mix($b-color,$base16-magenta,62.5%); }
    .bv_m_68-75 { fill: mix($b-color,$base16-magenta,68.75%); }
    .bv_m_75 { fill: mix($b-color,$base16-magenta,75%); }
    .bv_m_81-25 { fill: mix($b-color,$base16-magenta,81.25%); }
    .bv_m_87-5 { fill: mix($b-color,$base16-magenta,87.5%); }
    .bv_m_93-75 { fill: mix($b-color,$base16-magenta,93.75%); }
    .bv_m_100 { fill: mix($b-color,$base16-magenta,100%); }

    .bv_v_6-25 { fill: mix($b-color,$base16-violet,6.25%); }
    .bv_v_12-50 { fill: mix($b-color,$base16-violet,12.5%); }
    .bv_v_18-75 { fill: mix($b-color,$base16-violet,18.75%); }
    .bv_v_25 { fill: mix($b-color,$base16-violet,25%); }
    .bv_v_31-25 { fill: mix($b-color,$base16-violet,31.25%); }
    .bv_v_37-5 { fill: mix($b-color,$base16-violet,37.5%); }
    .bv_v_43-75 { fill: mix($b-color,$base16-violet,43.75%); }
    .bv_v_50 { fill: mix($b-color,$base16-violet,50%); }
    .bv_v_56-25 { fill: mix($b-color,$base16-violet,56.25%); }
    .bv_v_62-5 { fill: mix($b-color,$base16-violet,62.5%); }
    .bv_v_68-75 { fill: mix($b-color,$base16-violet,68.75%); }
    .bv_v_75 { fill: mix($b-color,$base16-violet,75%); }
    .bv_v_81-25 { fill: mix($b-color,$base16-violet,81.25%); }
    .bv_v_87-5 { fill: mix($b-color,$base16-violet,87.5%); }
    .bv_v_93-75 { fill: mix($b-color,$base16-violet,93.75%); }
    .bv_v_100 { fill: mix($b-color,$base16-violet,100%); }

    .bv_b_6-25 { fill: mix($b-color,$base16-blue,6.25%); }
    .bv_b_12-50 { fill: mix($b-color,$base16-blue,12.5%); }
    .bv_b_18-75 { fill: mix($b-color,$base16-blue,18.75%); }
    .bv_b_25 { fill: mix($b-color,$base16-blue,25%); }
    .bv_b_31-25 { fill: mix($b-color,$base16-blue,31.25%); }
    .bv_b_37-5 { fill: mix($b-color,$base16-blue,37.5%); }
    .bv_b_43-75 { fill: mix($b-color,$base16-blue,43.75%); }
    .bv_b_50 { fill: mix($b-color,$base16-blue,50%); }
    .bv_b_56-25 { fill: mix($b-color,$base16-blue,56.25%); }
    .bv_b_62-5 { fill: mix($b-color,$base16-blue,62.5%); }
    .bv_b_68-75 { fill: mix($b-color,$base16-blue,68.75%); }
    .bv_b_75 { fill: mix($b-color,$base16-blue,75%); }
    .bv_b_81-25 { fill: mix($b-color,$base16-blue,81.25%); }
    .bv_b_87-5 { fill: mix($b-color,$base16-blue,87.5%); }
    .bv_b_93-75 { fill: mix($b-color,$base16-blue,93.75%); }
    .bv_b_100 { fill: mix($b-color,$base16-blue,100%); }

    .bv_c_6-25 { fill: mix($b-color,$base16-cyan,6.25%); }
    .bv_c_12-50 { fill: mix($b-color,$base16-cyan,12.5%); }
    .bv_c_18-75 { fill: mix($b-color,$base16-cyan,18.75%); }
    .bv_c_25 { fill: mix($b-color,$base16-cyan,25%); }
    .bv_c_31-25 { fill: mix($b-color,$base16-cyan,31.25%); }
    .bv_c_37-5 { fill: mix($b-color,$base16-cyan,37.5%); }
    .bv_c_43-75 { fill: mix($b-color,$base16-cyan,43.75%); }
    .bv_c_50 { fill: mix($b-color,$base16-cyan,50%); }
    .bv_c_56-25 { fill: mix($b-color,$base16-cyan,56.25%); }
    .bv_c_62-5 { fill: mix($b-color,$base16-cyan,62.5%); }
    .bv_c_68-75 { fill: mix($b-color,$base16-cyan,68.75%); }
    .bv_c_75 { fill: mix($b-color,$base16-cyan,75%); }
    .bv_c_81-25 { fill: mix($b-color,$base16-cyan,81.25%); }
    .bv_c_87-5 { fill: mix($b-color,$base16-cyan,87.5%); }
    .bv_c_93-75 { fill: mix($b-color,$base16-cyan,93.75%); }
    .bv_c_100 { fill: mix($b-color,$base16-cyan,100%); }

    .bv_g_6-25 { fill: mix($b-color,$base16-green,6.25%); }
    .bv_g_12-50 { fill: mix($b-color,$base16-green,12.5%); }
    .bv_g_18-75 { fill: mix($b-color,$base16-green,18.75%); }
    .bv_g_25 { fill: mix($b-color,$base16-green,25%); }
    .bv_g_31-25 { fill: mix($b-color,$base16-green,31.25%); }
    .bv_g_37-5 { fill: mix($b-color,$base16-green,37.5%); }
    .bv_g_43-75 { fill: mix($b-color,$base16-green,43.75%); }
    .bv_g_50 { fill: mix($b-color,$base16-green,50%); }
    .bv_g_56-25 { fill: mix($b-color,$base16-green,56.25%); }
    .bv_g_62-5 { fill: mix($b-color,$base16-green,62.5%); }
    .bv_g_68-75 { fill: mix($b-color,$base16-green,68.75%); }
    .bv_g_75 { fill: mix($b-color,$base16-green,75%); }
    .bv_g_81-25 { fill: mix($b-color,$base16-green,81.25%); }
    .bv_g_87-5 { fill: mix($b-color,$base16-green,87.5%); }
    .bv_g_93-75 { fill: mix($b-color,$base16-green,93.75%); }
    .bv_g_100 { fill: mix($b-color,$base16-green,100%); }
  } 
}


